@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 18, 31, 61;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-rgb))
    )
    rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-dark {
  background: linear-gradient(135deg, #1e3a8a 0%, #3730a3 100%);
}

.text-primary {
  color: #60a5fa;
}

.text-secondary {
  color: #94a3b8;
}